{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}


<!--KORJATTAVAA + TARVITSEEKO TÄTÄ, JOS KAIKKI RAAKA_AINEET VOISI ANTAA KERRALLA?-->

<h1>Lisää raaka-aine {{recipe.recipe_name}} -reseptille</h1>

{% if message %}
<p class="alert alert-success">{{message}}</p>
{% endif %}


<form method="post" action="{{base_path}}/recipe/{{recipe.id}}/recipe_ingredient">

    <div class="form-group">
        <label>Määrä</label>
        <input name="amount" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Yksikkö</label>
        <select class="form-control" name="unit">
            {% if units.unit_name != null %}
            <option value="{{units.unit_name}}">{{units.unit_name}}</option>
            {% endif %}
            {% if attributes.unit == null %}
            <option>valitse...</option>
            {% else %}
            <option value="{{attributes.unit}}">{{attributes.unit}}</option>
            {% endif %}
            {% for unit in units %}
            <option value="{{unit.unit_name}}">{{unit.unit_name}}</option>
            {% endfor %}
        </select>
    </div>

    <!--    <div class="form-group">
            <label>Raaka-aine</label>
            <select class="form-control" name="raaka_aine">
                {% for recipe_ingredient in recipe_ingredients %}
                <option value="{{recipe_ingredient.ingredient}}">{{recipe_ingredient.ingredient}}</option>
                {% endfor %}
            </select>
        </div>-->

    <!--    <div class="form-group">
            <label>Raaka-aine</label>
            <select class="form-control" name="ingredient">
                {% for aine in aineet %}
                <option value="{{aine.nimi}}">{{aine.nimi}}</option>
                {% endfor %}
            </select>
        </div>-->

    <div class="form-group">
        <label>Raaka-aine</label>
        <select class="form-control" name="ingredient">
            <!--            {% if recipe_ingredients.ingredient != null %}
                        <option value="{{recipe_ingredients.ingredient}}">{{recipe_ingredients.ingredient}}</option>
                        {% endif %}-->
            <!--            {% if attributes.ingredient_name == null %}
                        <option>valitse...</option>
                        {% else %}
                        <option value="{{attributes.ingredient_name}}">{{attributes.ingredient_name}}</option>
                        {% endif %}-->
            {% for ingredient in ingredients %}
            <option value="{{ingredient.ingredient_name}}">{{ingredient.ingredient_name}}</option>
            {% endfor %}
        </select>
    </div>

    <input name="recipe_id" value="{{recipe.id}}" type="hidden">

    <p>
        {{forms.save_button("#{base_path}/recipe_ingredient/#{ingredient}/save", 'Lisää')}}
    </p>

</form>

{% endblock %}