{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Reseptipankki</h1>

{% if message %}
<p class="alert alert-success">{{message}}</p>
{% endif %}

{% if user_logged_in %}
{{forms.add_button("#{base_path}/unit/new", 'Lisää uusi mittayksikkö')}}
{% endif %}

<h3>Mittayksiköt</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Mittayksikön lisätiedot</th>
            {% if user_logged_in %}
            <th></th>
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for unit in units %}
        <tr>
            <td><a href="{{base_path}}/unit/{{unit.unit_name}}">{{unit.unit_name}}</a></td>
            <td>{{unit.information}}</td>
            {% if user_logged_in %}              
            <td>{{forms.edit_button("#{base_path}/unit/#{unit.unit_name}/edit")}}</td>
            <td>{{forms.destroy_button("#{base_path}/unit/#{unit.unit_name}/destroy")}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}