{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Lisää uusi kategoria</h1>

{% if message %}
<p class="alert alert-success">{{message}}</p>
{% endif %}


<form method="post" action="{{base_path}}/category">

    <div class="form-group">
        <label>Nimi</label>
        <input name="category_name" class="form-control" type="text" value="{{attributes.category_name}}">
    </div>

    <div class="form-group">
        <label>Kategorian lisätietoja</label>
        <input name="information" class="form-control" type="text" value="{{attributes.information}}">
    </div>


    <p>
        {{forms.save_button("#{base_path}/category/#{category.name}/save", 'Lisää')}}
    </p>

</form>
{% endblock %}
