{% extends "base.html" %}
{% block content %}
<h1>Reseptipankki</h1>

<p>
    <a href="#" class="btn btn-success">Lisää resepti</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kategoria</th>
            <th>Lähde</th>
            <th>Lisätty</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan reseptit tähän -->
        <tr>
            <td><a href="#">Thai-lohikeitto</a></td>
            <td>Keitto</td>
            <td><a href="https://www.yhteishyva.fi/ruoka-ja-reseptit/reseptit/thai-lohikeitto/01833">https://www.yhteishyva.fi/ruoka-ja-reseptit/reseptit/thai-lohikeitto/01833</a></td>
            <td>6.11.2015</td>
            <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        </tr>
    </tbody>
</table>
{% endblock %}