{% extends "base.html" %}
{% block content %}

<h1>Thai-lohikeitto <small>Keitot</small></h1>
<p>
    <a href="#" class="btn btn-default">Muokkaa</a>
    <button class="btn btn-danger">Poista</button> 
</p>

<img alt="Thai-Lohikeitto" width="300" class="img-thumbnail" src="https://sipa.s-palvelut.fi/?url=https%3A%2F%2Fwww.yhteishyva.fi%2Fimage%2Fimage_gallery%3Fuuid%3Df71a231b-75b9-46dd-be7b-d8db927d8006%3B%3A%3BgroupId%3D18010%3B%3A%3Bt%3D1349244268178&maxWidth=440&maxHeight=330&highDensity=true&checksum=3b2456a7d14191a517854e76e4f7c94d">

<h2>Ainekset</h2>
<h5> 4 annosta</h5>
<ul>
    <li>1 rkl öljyä</li>
    <li>1 pussi (450 g) itämaisia vokkivihanneksia (pakaste)</li>
    <li>2,5 rkl punaista currytahnaa</li>
    <li>6 dl vettä</li>
    <li>1 kalaliemikuutio</li>   
    <li>2 dl kookosmaitoa</li>  
    <li>400 g lohifileetä</li>  
    <li>2 dl pakastekatkarapuja</li>  
</ul>

<h2>Ohjeet</h2>

<ol>
    <li>Kuumenna pannulla öljy ja lisää joukkoon jäiset pakastevihannekset. Paista kasviksia reilu 5 minuuttia, kunnes neste on melkein haihtunut kasviksista. </li>
    <li>Lisää joukkoon currytahna ja kääntele sekaisin.</li>
    <li>Kuumenna kattilassa vesi, kalaliemikuutio ja kookosmaito.</li>
    <li>Poista lohesta ruodot ja nahka ja leikkaa kuutioiksi.</li>
    <li>Lisää kattilaan lohipalat ja kasvikset ja anna keiton kiehua 5 minuuttia, kunnes kalat ovat kypsiä.</li>
    <li>Lisää joukkoon katkaravut ja anna keiton kiehahtaa.</li>
</ol>

<br>
<footer><strong>Lähde: </strong> <a href="https://www.yhteishyva.fi/ruoka-ja-reseptit/reseptit/thai-lohikeitto/01833">https://www.yhteishyva.fi/ruoka-ja-reseptit/reseptit/thai-lohikeitto/01833</a><br>
    <strong>Lisätty: </strong>6.11.2015</footer>
{% endblock %}