{% extends "base.html" %}
{% block content %}
<h1>Kirjaudu sisään</h1>

<form method="post" action="{{base_path}}/login">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control" name="kayttajatunnus" value="{{username}}">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control" name="salasana">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>
{% endblock %}