{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Muokkaa reseptiä: {{attributes.recipe_name}}</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/recipe/{{attributes.id}}/edit">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="recipe_name" class="form-control" value="{{attributes.recipe_name}}" >
    </div>

    <div class="form-group">
        <label>Kategoria</label>
        <select class="form-control" name="category">
            <option value="{{attributes.category}}">{{attributes.category}}</option>
            <option value="Alkuruuat">Alkuruuat</option>
            <option value="Keitot">Keitot</option>
            <option value="Salaatit">Salaatit</option>
            <option value="Pääruuat">Pääruuat</option>
            <option value="Jälkiruuat">Jälkiruuat</option>
            <option value="Suolaiset leivonnaiset">Suolaiset leivonnaiset</option>  
            <option value="Makeat leivonnaiset">Makeat leivonnaiset</option>  
        </select>
    </div>

    <div class="form-group">
        <label>Annoksia</label>
        <input type="text" name="portion_amount" class="form-control" value="{{attributes.portion_amount}}">
    </div>

    <h3>Ainekset</h3>

    <ul>
        Reseptin aineksia ei voi tällä hetkellä muokata.<br>
        {% for recipe_ingredient in recipe_ingredients %}
        <strong>{{recipe_ingredient.amount}} </strong> {{recipe_ingredient.unit}} {{recipe_ingredient.ingredient}} <br>   
        {% endfor %}
    </ul>

    <h3>Valmistusohjeet</h3>

    <div class="form-group">
        <label>Tee näin:</label>
        <textarea name="instruction" class="form-control" >{{attributes.instruction}}</textarea>
    </div>

    <h3>Reseptin ja ruokakuvan lähde</h3>

    <div class="form-group">
        <label>Kuvan lähde</label>
        <input type="text" name="picture" class="form-control" value="{{attributes.picture}}">
    </div>

    <div class="form-group">
        <label>Reseptin lähde</label>
        <input type="text" name="recipe_source" class="form-control" value="{{attributes.recipe_source}}">
    </div>

    <p>
        {{forms.update_button("#{base_path}/recipe/#{recipe.id}/update")}}
    </p>

    <!--VANHAT:
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
        </div>-->

</form>
{% endblock %}

