{% extends "base.html" %}
{% block content %}

<h1>Muokkaa reseptiä {{attributes.nimi}}</h1>

<form method="post" action="{{base_path}}/recipe/{{attributes.id}}/edit">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" maxlength="50" class="form-control" value="{{attributes.nimi}}" >
    </div>

    <div class="form-group">
        <label>Kategoria</label><br>
        <select name="kategoria">
            <option value="{{attributes.kategoria}}">{{attributes.kategoria}}</option>
            <option>Valitse...</option>
            <option value="Alkuruuat">Alkuruuat</option>
            <option value="Keitot">Keitot</option>
            <option value="Salaatit">Salaatit</option>
            <option value="Pääruuat">Pääruuat</option>
            <option value="Jälkiruuat">Jälkiruuat</option>
            <option value="Suolaiset leivonnaiset">Suolaiset leivonnaiset</option>  
            <option value="Makeat leivonnaiset">Makeat leivonnaiset</option>  
        </select>
    </div>

    <div class="form-group">
        <label>Annoksia</label>
        <input type="number" name="annoksia" min="1" max="100" class="form-control" value="{{attributes.annoksia}}">
    </div>

    <h3>Ainesosat</h3>

    <h3>Valmistusohjeet</h3>

    <div class="form-group">
        <label>Tee näin:</label>
        <textarea name="valmistusohje" maxlength="3000" class="form-control" >{{attributes.valmistusohje}}</textarea>
    </div>

    <h3>Reseptin ja ruokakuvan lähde</h3>

    <div class="form-group">
        <label>Kuvan lähde</label>
        <input type="url" name="kuva" maxlength="1000" class="form-control" value="{{attributes.kuva}}">
    </div>

    <div class="form-group">
        <label>Reseptin lähde</label>
        <input type="url" name="lahde" maxlength="1000" class="form-control" value="{{attributes.lahde}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
