{% extends "base.html" %}
{% block content %}

<h1>Reseptipankki</h1>

<p>
    <a href="{{base_path}}/recipe/new" class="btn btn-success">Lisää resepti</a>
</p>

<h3>Reseptit</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kategoria</th>
            <th>Lähde</th>
            <th>Lisätty</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for resepti in reseptit %}
        <tr>
            <td><a href="{{base_path}}/recipe/{{resepti.id}}">{{resepti.nimi}}</a></td>
            <td>{{resepti.kategoria}}</td>
            <td><a href="{{resepti.lahde}}">{{resepti.lahde}}</a></td>
            <!--            <td>{{resepti.lahde}}</td>-->
            <td>{{resepti.lisayspvm}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/recipe/{{resepti.id}}/edit">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
