{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Muokkaa raaka-ainetta: {{ attributes.ingredient_name}}</h1>

{% if message %}
<p class="alert alert-success">{{message}}</p>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/ingredient/{{attributes.ingredient_name}}/edit">

    <div class="form-group">
        <label>Ravitsemustiedot</label>
        <input name="nutrition" class="form-control" type="text" value="{{attributes.nutrition}}">
    </div>

    <p>
        {{forms.update_button("#{base_path}/ingredient/#{ingredient_name}")}}
    </p>

</form>
{% endblock %}