{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Lisää uusi raaka-aine</h1>

{% if message %}
<p class="alert alert-success">{{message}}</p>
{% endif %}


<form method="post" action="{{base_path}}/ingredient">
    <div class="form-group">
        <label>Nimi</label>
        <input name="ingredient_name" class="form-control" type="text" value="{{attributes.ingredient_name}}">
    </div>

    <div class="form-group">
        <label>Ravitsemustiedot</label>
        <input name="nutrition" class="form-control" type="text" value="{{attributes.nutrition}}">
    </div>

    <!--    <div class="form-group">
            <button type="submit" class="btn btn-primary">Lisää</button>
        </div>  -->
    <p>
        {{forms.save_button("#{base_path}/ingredient/#{ingredient.name}/save", 'Lisää')}}
    </p>



</form>
{% endblock %}